:root {
    --main-one: black;
    --main-two: white;

    --color-blue: #4848ff;
    --color-blue-hover: #3f3fe0;

    --main-two-hover: #e6e6e6;

    --text-muted: #c0c0c0;

    --bg-batman: #1a1a1a;

    --border-light: #888888;
    --border-white: #dbdbdb;
    --border-dark: #3f3f3f;

    --error-msg: #ff3434;
    --error-bg: #ff00001b;

    --success-msg: #30d230;
    --success-bg: #0080001b;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Söhne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--main-one);
    color: var(--main-two);
}

.page-container {
    min-height: 100vh;
}


/*Login, Register & Email-Verification Pages*/
.sign-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 6px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-labels {
    color: var(--text-muted);
    font-size: 0.95rem;
}

.sign-btn {
    margin-top: 10px;
    margin-bottom: 6px;
    background-color: var(--main-two);
    color: var(--main-one);
    padding: 2px;
    border: 1px solid var(--main-two);
    border-radius: 4px;
    cursor: pointer;
}
.sign-btn:hover {
    background-color: var(--main-two-hover);
}

.sign-alter {
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-muted);
    margin-top: 2px;
}

.sign-alter-link {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 0.9rem;
}
.sign-alter-link:hover {
    text-decoration: 1px solid underline;
}

.input-fields {
    background-color: var(--main-one);
    color: var(--main-two);
    border: 1px solid var(--border-light);
    border-radius: 6px;
    padding: 2px;
}

.input-fields:hover {
    border: 1px solid var(--main-two);
}

.input-fields:focus {
    outline: none;
    border: 1px solid var(--color-blue);
}

.verify-btn {
    margin-top: 10px;
    margin-bottom: 6px;
    color: var(--main-two);
    background-color: var(--color-blue);
    padding: 2px;
    border-radius: 6px;
    border: 1px solid var(--color-blue);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}
.verify-btn:hover {
    background-color: var(--color-blue-hover);
}

.resend-otp-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.resend-btn {
    background: transparent;
    border-radius: 6px;
    padding: 2px 4px;
    border: none;
    color: var(--color-blue);
    font-size: 0.9rem;
    cursor: pointer;
}

.resend-btn:hover {
    background-color: var(--bg-batman);
    color: var(--color-blue-hover);
}


.error-msg {
    margin-top: 3px;
    color: var(--error-msg);
    background-color: var(--error-bg);
    text-align: center;
    font-size: 0.9rem;
}

.success-msg {
    margin-top: 3px;
    color: var(--success-msg);
    background-color: var(--success-bg);
    text-align: center;
    font-size: 1rem;
}

.verify-link {
    color: var(--color-blue);
    font-size: 0.95rem;
}
.verify-link:hover {
    color: var(--color-blue-hover);
}

/*Logout Button Component*/
.logout-btn {
    background: transparent;
    border: none;
    border-radius: 6px;
    padding: 2px 4px;
    color: var(--color-blue);
    font-size: 0.95rem;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: var(--bg-batman);
}


/*Default for all pages*/
.page {
    display: flex;
    justify-content: center;
    background-color: var(--bg-batman);
}

.content {
    width: 100%;
    max-width: 400px;
    background-color: var(--main-one);
    padding: 10px;
}

/*Home Page*/
.home-load-error {
    padding: 10px;
    background-color: var(--error-bg);
    color: var(--error-msg);
}

.home-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-dark);
    padding: 4px;
    padding-bottom: 10px;
}

.user-details-container {
    padding: 10px;
    margin-top: 10px;
}

.user-details-box {
    box-shadow: 0 0 4px var(--border-light);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    transition: 200ms;
}
.user-details-box:hover {
    transform: scale(1.02);
}

.user-details {
    color: var(--text-muted);
}

.user-details-span {
    color: var(--main-two);
    font-weight: 500;
}

.password-page-link-box {
    margin-top: 10px;
    padding: 14px 6px;
    background-color: var(--bg-batman);
    cursor: pointer;
}
.password-page-link-box:hover {
    background-color: var(--border-dark);
    .password-link-text {
        color: var(--main-two);
    }
}

.password-link-text {
    color: var(--border-white);
}


/*Password Change Page*/
.change-title {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px 10px 14px;
    border-bottom: 1px solid var(--border-light);
}

.change-form-container {
    padding: 20px;
}

.change-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px 20px;
}

.change-pass-btn {
    padding: 2px;
    border: 1px solid var(--color-blue);
    background-color: var(--color-blue);
    border-radius: 6px;
    color: var(--main-two);
    font-size: 0.95rem;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.change-pass-btn:hover {
    background-color: var(--color-blue-hover);
}

.pass-otp-box {
    width: 100%;
    display: flex;
}

.otp-input {
    flex: 3;
    border: 1px solid var(--border-light);
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 3px;
    background: none;
    color: var(--main-two);
}
.otp-input:hover {
    border: 1px solid var(--border-white);
    border-right: none;
}
.otp-input:focus {
    outline: none;
    border: 1px solid var(--color-blue);
}

.otp-btn {
    flex: 1;
    border: 1px solid var(--color-blue);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 3px;
    background-color: var(--color-blue);
    color: var(--main-two);
    font-size: 0.9rem;
    cursor: pointer;
}
.otp-btn:hover {
    background-color: var(--color-blue-hover);
}

.pass-input {
    border: 1px solid var(--border-light);
    background: none;
    border-radius: 6px;
    padding: 3px;
    color: var(--main-two);
}
.pass-input:hover {
    border: 1px solid var(--border-white);
}
.pass-input:focus {
    outline: none;
    border: 1px solid var(--color-blue);
}

.change-error {
    color: var(--error-msg);
    background-color: var(--error-bg);
    padding: 2px;
    text-align: center;
}

.change-success {
    color: var(--success-msg);
    background-color: var(--success-bg);
    padding: 2px;
    text-align: center;
}